.project-card {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    color: white;
}

.project-card > img {
    width: 100%;
}

.project-info-box {
    box-sizing: content-box;
    position: absolute;
    background-color: rgba(72, 61, 139, .5);
    border: .5rem solid rgba(72, 61, 139, 1);
    bottom: 2.25rem;
    left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 90%;
    height: 40%;
    border-radius: 1rem;
}

.project-info-box > h1 {
    grid-column: 1 / span 2;
    font-size: 3rem;
    margin: 0;
}

.project-info-box > a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.project-info-box > a > div {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: .25rem solid rgba(72, 61, 139, 1);
    background-color: rgba(72, 61, 139, .75);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.website-button:hover, .github-button:hover {
    background-color: white;
    font-weight: bold;
}

.website-button:hover > p, .github-button:hover > p {
    color: rgba(72, 61, 139, 1);
}

.project-info-box > a > div > img {
    width: 2.5rem; 
    height: 2.5rem;
    margin-right: 1rem;
}

.project-info-box > a > div > p {
    color: white;
    font-size: 2rem;
}

.project-info-box > a > div > img.git-visible {
    display: inline;
}

.project-info-box > a > div > img.git-hidden {
    display: none;
}

.project-info-box > a > div > img.web-visible {
    display: inline;
}

.project-info-box > a > div > img.web-hidden {
    display: none;
}

/* For Tablets */
@media screen and (min-width: 481px) {
    .project-info-box {
        width: 70%;
        height: 30%;
    }
    
    .project-info-box > h1 {
        font-size: 4rem;
        margin: 0;
    }
}

/* For Laptops/Desktops */
@media screen and (min-width: 769px) {
    .project-card {
        position: relative;
        width: 50%;
        margin-bottom: 2rem;
        color: white;
    }

    .project-info-box {
        position: absolute;
        width: 90%;
        height: 35%;
        bottom: 1.25rem;
        left: 1.25rem;
    }
    
    .project-info-box > h1 {
        font-size: 3rem;
        margin: 0;
    }

    .project-card > img {
        width: 100%;
    }
}

/* For Larger Screens 4K resolution */
@media screen and (min-width: 1201px) {
    .project-card {
        position: relative;
        width: 45%;
        margin-bottom: 2rem;
        color: white;
    }

    .project-info-box {
        position: absolute;
        width: 70%;
        height: 25%;
        bottom: 2.25rem;
        left: 2.25rem;
    }
    
    .project-info-box > h1 {
        font-size: 3rem;
        margin: 0;
    }

    .project-card > img {
        width: 100%;
    }

    
}

@media screen and (min-width: 1441px) {
    .project-card {
        position: relative;
        width: 45%;
        margin-bottom: 2rem;
        color: white;
    }

    .project-info-box {
        position: absolute;
        width: 70%;
        height: 25%;
        bottom: 2.25rem;
        left: 2.25rem;
    }
    
    .project-info-box > h1 {
        font-size: 4rem;
        margin: 0;
    }

    .project-card > img {
        width: 100%;
    }

    .project-info-box > a > div {
        height: 5rem;
    }

    .project-info-box > a > div > img {
        width: 3.5rem; 
        height: 3.5rem;
        margin-right: 2rem;
    }
    
    .project-info-box > a > div > p {
        color: white;
        font-size: 2.75rem;
    }
}