.project-card {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    color: white;
}

.project-card > img {
    width: 100%;
}

.project-info-box {
    position: absolute;
    background-color: rgba(139, 139, 139, .75);
    border: .5rem solid rgba(139, 139, 139, 1);
    bottom: 2.25rem;
    left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 90%;
    height: 40%;
    border-radius: 1rem;
}

.project-info-box > h1 {
    grid-column: 1 / span 2;
    font-size: 3rem;
    margin: 0;
}

.project-info-box > a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.project-info-box > a > div {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: .25rem solid rgba(77, 77, 77, 1);
    background-color: rgba(77, 77, 77, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.project-info-box > a > div > img {
    width: 2.5rem; 
    height: 2.5rem;
    margin-right: 1rem;
}

.project-info-box > a > div > p {
    color: white;
    font-size: 2rem;
}