.header-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 20rem;
    margin: 0 auto;
    /* border: 1px blue solid; */
}

#about {
    height: 6rem;
}

/* For Tablets */
@media screen and (min-width: 481px) {
    .header-info {
       height: 35rem;
    }
}

/* For Laptops/Desktops */
@media screen and (min-width: 769px) {
    .header-info {
       height: 50rem;
    }
}

/* For Larger Screens 4K resolution */
@media screen and (min-width: 1700px) {
    .header-info {
        width: 50%;
    }
}